/* Adjust the main roulette table grid */
#roulette-table {
    display: grid;
    grid-template-columns: repeat(10, 80px); /* Adjust the number of columns as needed */
    gap: 10px;
    margin-top: 20px;
}

.roulette-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center align content vertically */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 60px; /* Increased width to accommodate the frequency count */
    height: 80px; /* Adjusted height */
}

/* Status bar container */
.status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Status bar styles */
.status-bar, .status-bar-200 {
    width: 50%; /* Adjust the width to ensure it fits within the container */
    height: 10px; /* Adjust height as needed */
    background-color: rgb(202, 202, 202);
    margin-bottom: 5px; /* Space between the status bar and the count */
}



/* For the top 10 most drawn numbers in the last 200 draws */
.status-bar-200.pink {
    background-color: rgb(236, 168, 248);
}

/* For all other numbers */
.status-bar.grey,.status-bar-200.grey-200 {
    background-color: black;
}

/* Frequency count */
.frequency-count, .frequency-count-200 {
    font-size: 12px; /* Adjust font size as needed */
    margin-top: 1px; /* Space between the status bar and the count */
}

#history-table {
    border-collapse: collapse;
    margin-top: 10px;
}

#history-table th,
#history-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 30px;
    height: 15px;
}

#history-table th {
    background-color: #f0f0f0;
}

.status-bar.green, .status-bar-200.green {
    background-color:rgb(68, 254, 75);
    /* color: rgb(212, 216, 90) */
}

.status-bar.red, .status-bar-200.red {
    background-color: red;
    /* Add any other shared styles here */
}

@media (max-width: 600px) {
    #top {
        padding-top: 30px;
    }
    #roulette-table {
        display: grid;
        grid-template-columns: repeat(5, 18%); /* Adjust the number of columns as needed */
        gap: 11px;
        margin-top: 20px;
    } 

    input, button {
        height: 50px;
    }

    .input-container {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 50px;
        padding: 20px 0;
        background-color: white;
    }

    button {
        margin-left: 10px;
        align-items: center;
        margin-top: 5px;
    }


    .roulette-number {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #ffffff;
        width: 60px; /* Increased width to accommodate the frequency count */
        height: 50px; /* Adjusted height */
    }
    html {
        scroll-behavior: smooth;
    }
}

#to-bottom{
    background-image: url('https://cdn.gamerbraves.com/2022/01/kirby-1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 85px;
    min-height: 25px;
}
#to-top{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFf0wH8iVDQwhd-1oa53gSWLCJ09A2xYpvNg&s');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    min-height: 25px;
}

.roulette-v2{
    width: 100%;
}
.row {
    width: 7.69%;
}


.roulette-number-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center align content vertically */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    height: 80px; /* Adjusted height */
}